src/bootstrap/cache/services.php

src/storage/app/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*

src/vendor/**/test*
src/vendor/**/tests*
src/vendor/**/Tests*

**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache

*.config.js
?ulpfile.js
?untfile.js
package.json
phpunit.xml
phpspec.yml

Dockerfile
docker-compose.yml
run
run.ps1